WALLET_ADDRESS=NZJKOPEAQ5OV2QMYXMOECLMMG2WOQVXDQ2S5IPTWKXQ54GOMWOXYUSJAMI
ALGORAND_NETWORK=testnet
PAY_TO_ADDRESS=WT5667IIQY3ONNBA6BKUGVYGRM52GNILV453KJLE4NOA7YAD6PCW6IJBK4
FACILITATOR_URL=https://facilitator.goplausible.xyz
PRICE_USDC=$0.01
CLIENT_MNEMONIC=
DEMO_MODE=false